.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  padding: 10px;
}

.list {
  /* background-color: #0009; */
  height: 500px;
  overflow: auto;
}

.title {
  margin: 10px;
  padding: 20px;
}

.loading {
  margin: auto;
}
